<!DOCTYPE html>
<html>
  <head>
    <title>List Category</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <header class="dxc-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4">
          <a class="text-muted" href="#"><img src="/images/logo_dxc.jpg" /></a>
        </div>
        <div class="col-4 text-center">
          <h2>List Category</h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="/">Sign out</a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <a class="btn btn-success" href="/categories/create"
          >Create New Category</a
        >
        <% if(categories.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr class="bg-info">
              <th>ID</th>
              <th>Category Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < categories.length; i++) { %>
            <tr>
              <td>
                <a
                  class="text-primary"
                  href="/categories/show/<%=categories[i]._id%>"
                  ><u><%=categories[i]._id%></u></a
                >
              </td>
              <td><%=categories[i].categoryName%></td>
              <td>
                <div style="display: flex;">
                    <a
                    class="btn btn-success"
                    href="/categories/edit/<%=categories[i]._id%>"
                    style="margin-left: 10px"
                    >Edit</a
                  >
                  <form
                    action="/categories/delete/<%=categories[i]._id%>"
                    style="margin-left: 10px"
                    method="post"
                  >
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form></div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
        <table class="table table-striped">
          <h2 style="margin-top: 15px ;">No category found.</h2>
        </table>
        <% } %>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
